# Backend (FastAPI)
fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
passlib[bcrypt]
python-jose[cryptography]

# Frontend (Streamlit)
streamlit
requests
pandas
plotly
scikit-learn
underthesea==6.8.0
transformers==4.37.2
torch
joblib
matplotlib
seaborn